.image-capture-wrapper {
  // border: 1px solid blue;
  width: 100%;
  height: 100%;
  display: flex;
  .measureImg {
    height: 100%;
    width: 15%;
    margin-left: -44px;
  }
  .slider-container {
    height: 100%;
    width: 20px;
    // border: 1px solid black;
    position: relative;
    .slider {
      width: 516px;
      height: 10px;
      top: 268px;
      right: -198px;
      position: absolute;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      transform: rotate(-90deg);
      outline: none;
      background: rgb(190, 189, 189);
      outline: none;
      opacity: 0.7;
      border-radius: 15px;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      border: 0;
      width: 35px;
      height: 25px;
      border-radius: 50px;
      transform: rotate(-90deg);
      background: url("../../Images/point.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      border: 0;
      width: 35px;
      height: 25px;
      transform: rotate(-90deg);
      border-radius: 50px;
      background: url("../../Images/point.png");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
  .info-container {
    width: 90%;
    height: 100%;
    .bmi-section {
      width: 100%;
      position: relative;
      .bmiText {
        position: absolute;
        top: 96px;
        left: 87px;
        font-size: 56px;
        color: #f55d02;
        z-index: 1;
      }
      .bmiContainCircle {
        position: absolute;
        width: 158px;
        top: 59px;
        left: 62px;
      }
      .bmi-slider {
        position: absolute;
        top: 86px;
        width: 490px;
        cursor: pointer;
        left: 193px;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        background: #f1f1f1;
        opacity: 0.7;
        border-radius: 15px;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
      }
      .bmiScale {
        width: 86%;
        margin-left: 2rem;
        margin-top: 1rem;
      }
    }
    .name-weight-container {
      display: flex;
      width: 100%;
      height: 50%;
      .weight-wrapper {
        width: 50%;
        height: 100%;
        position: relative;
        span {
          position: absolute;
          top: 30px;
          right: 177px;
          z-index: 1;
        }
        .weightCloud {
          width: 130px;
          position: absolute;
          left: 141px;
          z-index: 0.5;
        }
        .weightImg {
          width: 200px;
          margin-top: 4rem;
        }
      }
      .name-wrapper {
        width: 50%;
        height: 100%;
        position: relative;
        span {
          position: absolute;
          z-index: 1;
          top: 47px;
          left: 60px;
          font-size: 15px;
          width: 160px;
        }
        .cloudImg {
          width: 300px;
          position: absolute;
          right: 134px;
          z-index: 0.5;
        }
        .calculationImg {
          width: 200px;
          margin-top: 5rem;
          margin-left: 11rem;
        }
      }
    }
  }
}
